#faq-button {
  position: fixed;
  z-index: 300;
}
#faq {
  position: absolute;
  top: 2.5rem;
  left: 0.5rem;
  z-index: 200;
  padding: 1rem;
  display: none;
  max-width: 30rem;
  background-color: darken($background-color,10%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
