$background-color: #E8F5E9;
$area-color: #4CAF50;
$text-color: #000000;
$highlight-color: #FFD740;
$button-color: $area-color;
$button-highlight-color: lighten($area-color,10%);
$link-color: #FF5722;
$link-hover-color: #F4511E;
$content-color: darken($background-color,10%);
$scrollbar-color: $background-color;
$scrollbar-handle-color: darken($background-color,10%);
$scrollbar-border-color: darken($scrollbar-handle-color,10%);
$timestamp-color: darken($background-color,40%);
$header-color: $area-color;
$header-button-normal: $area-color;
$header-button-hover: lighten($button-color,10%);
$header-button-close: $area-color;
$header-button-close-hover: $button-highlight-color;

@import 'main'
