@font-face {
  font-family: OpenSans;
  src: url(../../fonts/OpenSans-Regular.ttf);
}

$font-stack: OpenSans, sans-serif;

$background-color: #081F37;
$area-color: #5FC9F3;
$text-color: #2E79BA;
$highlight-color: #1E549F;

$titlebar-height: 2rem;
$titlebar-color: #5FC9F3;
$button-width: 2rem;
$button-height: 1.6rem;
$button-margin: 1rem;
$button-normal: #5FC9F3;
$button-hover: #2E79BA;
$button-close: #B5001E;
$button-close-hover: #DD2846;

body {
  margin: 0;
  padding: 0;
  font: 100% $font-stack;
	color: $text-color;
	background-color: $background-color;
}

.transparent-background {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAKElEQVQYV2M8c+bMfwY0YGxsjC7EwDgUFP7//x/DM2fPnsX0zBBQCABDRTPmUj2M4gAAAABJRU5ErkJggg==) repeat;
}

header {
  height: $titlebar-height;
  width: 100%;
  background-color: $titlebar-color;
  -webkit-app-region: drag;
  top: 0;
  position: fixed;
  .window-button {
    float: right;
    margin: $button-margin $button-margin/2;
    width: $button-width;
    height: $button-height;
    transition: background-color 0.25s ease-out;
    -webkit-app-region: no-drag;
    background-color: $button-normal;
    &:hover {
      background-color: $button-hover;
    }
  }
  #close {
    margin-right: $button-margin;
    background-image: url("../images/titlebar/close.png");
    background-color: $button-close;
    &:hover {
      background-color: $button-close-hover;
    }
  }
  #minimize {
    background-image: url("../images/titlebar/minimize.png");
  }
}

main {
  margin-top: $titlebar-height;
}
