@font-face {
  font-family: OpenSans;
  src: url(../../fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: SansitaOne;
  src: url(../../fonts/SansitaOne/SansitaOne.ttf);
}

$font-stack: OpenSans, sans-serif;
$header-font: SansitaOne, sans-serif;

$background-color: #F4F7F7;
$area-color: darken(#AACFD0,15%);
$text-color: #1F4E5F;
$highlight-color: #79A8A9;

$titlebar-height: 2rem;
$titlebar-color: $area-color;
$button-width: 2rem;
$button-height: 1.6rem;
$button-margin: 0.2rem;
$button-normal: $area-color;
$button-hover: $highlight-color;
$button-close: $area-color;
$button-close-hover: $highlight-color;

$image-height: 5rem;

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font: 100% $font-stack;
  color: $text-color;
	background-color: $background-color;
}

.transparent-background {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAKElEQVQYV2M8c+bMfwY0YGxsjC7EwDgUFP7//x/DM2fPnsX0zBBQCABDRTPmUj2M4gAAAABJRU5ErkJggg==) repeat;
}

header {
  height: $titlebar-height;
  width: 100%;
  background-color: $titlebar-color;
  -webkit-app-region: drag;
  top: 0;
  position: absolute;
  z-index: 500;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  .window-button {
    float: right;
    margin: $button-margin $button-margin;
    width: $button-width;
    height: $button-height;
    transition: background-color 0.15s ease-out;
    -webkit-app-region: no-drag;
    background-color: $button-normal;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background-color: $button-hover;
    }
  }
  #close {
    margin-right: $button-margin;
    background-image: url("../../img/header/close.png");
  }
  #maximize {
    background-image: url("../../img/header/maximize.png");
  }
  #minimize {
    background-image: url("../../img/header/minimize.png");
  }
  #settings {
    background-image: url("../../img/header/settings.png");
  }
}

main {
  width: 100%;
  margin-top: $titlebar-height;
  height: calc(100% - 2rem);
  overflow-x: hidden;
}

h1 {
  padding: 0;
  margin: 0;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
  float: left;
  font: 130% $header-font;
  color: $background-color;
}

a {
  color:#F64662;
  transition: all 0.2s;
  text-decoration: none;
  &:hover {
    color:#C61951
  }
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
li {
  position: relative;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: $area-color;
  padding: 0.6rem;
  padding-bottom: 2rem;
}

.entry-content {
  white-space: pre-wrap;
  background-color: darken($background-color,10%);
  padding: 0.6rem;
  & img {
    height: $image-height;
  }
}
.timestamp {
  position: absolute;
  font-size: 75%;
  color: darken($background-color,40%);
  right: 1rem;
  bottom: 0.6rem;
}

#faq-button {
  position: fixed;
  z-index: 300;
}
#faq {
  position: absolute;
  top: 2.5rem;
  left: 0.5rem;
  z-index: 200;
  padding: 1rem;
  display: none;
  max-width: 30rem;
  background-color: darken($background-color,10%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

input[type="submit"]{
  font: 75% $font-stack;
  color: $text-color;
  background-color: $area-color;
  border: 0;
  margin: 0.2rem;
  float: left;
  transition: background-color 0.15s ease-out;
}

input[type="submit"]:hover{
  background-color: $highlight-color;
}
