<html>
  <head>
    <meta charset="UTF-8">
    <title>leike</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <ul id="entry-list">
      <li v-for="entry in entries">
        <div v-if="entry.type == 'text'">
          {{ entry.content }} - {{ entry.timestamp }}
        </div>
        <div v-if="entry.type == 'image'">
          <button v-on:click="openInFileManager(entry.content)">Open in file manager</button>
          <img v-bind:src="entry.content" class="transparent-background"> - {{ entry.timestamp }}
        </div>
      </li>
    </ul>

    <script type="text/javascript" src="node_modules\vue\dist\vue.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="node_modules\marked\marked.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="app/app.js" charset="utf-8"></script>
  </body>
</html>
