<html>
  <head>
    <meta charset="UTF-8">
    <title>leike</title>
    <link rel="stylesheet" type="text/css" href="build/css/style.css">
  </head>
  <body>
    <header>
      <h1>Leike</h1>
      <div id="window-buttons">
       <div class="window-button" id="close" v-on:click="closeWindow()"></div>
       <div class="window-button" id="maximize" v-on:click="maximizeWindow()"></div>
       <div class="window-button" id="minimize" v-on:click="minimizeWindow()"></div>
      </div>
    </header>
    <main>
      <div id="content">
        <ul id="entry-list">
          <li v-for="entry in entries">
            <div v-if="entry.type == 'text'">
              <p class="entry-content">{{ entry.content }}</p>
            </div>
            <div v-if="entry.type == 'image'">
              <div class="entry-content"><img v-bind:src="entry.content" class="transparent-background"></div>
              <input type="submit" name="submit" value="Open in folder" v-on:click="openInFileManager(entry.content)"/>
            </div>
            <input type="submit" name="submit" value="Delete" v-on:click="deleteEntry(entry)"/>
            <div class="timestamp">{{ entry.timestamp }}</div>
          </li>
        </ul>
      </div>
    </main>

    <script type="text/javascript" src="node_modules\vue\dist\vue.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="build/app.js" charset="utf-8"></script>
    <script type="text/javascript" src="build/ui-scripts.js" charset="utf-8"></script>
  </body>
</html>
