<html>
  <head>
    <meta charset="UTF-8">
    <title>Leike</title>
    <link rel="stylesheet" href="build/css/reset.css">
  </head>
  <body>
    <div id="loading-window" style="background-color:#FF; width: 100%; height: 100%"></div>
    <header>
      <h1>Leike</h1>
      <div id="window-buttons">
       <div class="window-button" id="close" v-on:click="closeWindow()"></div>
       <div class="window-button" id="maximize" v-on:click="maximizeWindow()"></div>
       <div class="window-button" id="minimize" v-on:click="minimizeWindow()"></div>
       <div class="window-button" id="settings" v-on:click="openSettings()"></div>
       <input type="submit" v-if="upAv == true" class="update-button" value="Update available, click here" onclick="openLinkExternally('https://github.com/Nanofus/leike/releases')">
      </div>
    </header>
    <main>
      <div id="faq" class="window">
        <h2>Hello there!</h2>
        <p>This here is {{packageJson.name}}, an open-source clipboard utility developed and maintained by {{packageJson.author}}, written in CoffeeScript, HTML & SASS, using Electron & Vue.js.</p>
        <p>The app logs all text and images entering the clipboard into memory and saves the images into a <a href="#" onclick="openFilePath()">folder</a>. If an image is deleted from the list, the file is deleted as well.</p>
        <p>The app keeps running in the background and can be closed from the tray icon.</p>
        <p>More info at the <a href="#" onclick="openLinkExternally('http://github.com/Nanofus/leike')">GitHub repository</a>.</p>
        <p>Version: {{packageJson.version}}</p>
        <input type="submit" name="submit" value="Close" class="bottom-right large" onclick="showWindow('faq')"/>
      </div>
      <div id="config" class="window">
        <div class="settings">
          <h2>Settings</h2>
          <p>Style (light, gray, dark): <input type="text" v-model="configJson.style"></p>
          <p>Autosave frequency (seconds): <input type="text" v-model="configJson.autosaveFrequency"></p>
          <p>Update check frequency (minutes): <input type="text" v-model="configJson.updateCheckFrequency"></p>
          <p>Debug enabled: <input type="checkbox" v-model="configJson.debugEnabled"></p>
          <p>? button enabled: <input type="checkbox" v-model="configJson.aboutEnabled"></p>
          <br><p><input type="submit" value="Save" onclick="saveConfig()"></p>
          <br><br><p>You have to restart the app to refresh the frequencies.</p>
          <br><p><input type="submit" value="Export data as JSON" onclick="exportJson(false)"><input type="submit" value="Clear data" onclick="clearEntries()"><input type="submit" value="Open data folder" onclick="openFilePath()"><input type="submit" value="Delete all data" onclick="deleteAllData()"><input type="submit" value="Check for updates" onclick="checkForUpdates()"></p>
          <br><br><br><p>Version: {{packageJson.version}}</p>
        </div>
        <input type="submit" name="submit" value="Close" class="bottom-right large" onclick="showWindow('config')"/>
      </div>
      <input type="submit" name="submit" value="?" id="faq-button" class="bottom-right close" onclick="showWindow('faq')"/>
      <div id="content">
        <ul id="entry-list">
          <li v-for="entry in entries" class="entry">
            <div class="entry-area">
              <div v-if="entry.type == 'text'">
                <p class="entry-content">{{ entry.content }}</p>
              </div>
              <div v-if="entry.type == 'image'">
                <div class="entry-content"><img v-bind:src="entry.content" class="transparent-background"></div>
              </div>
            </div>
            <div class="entry-footer">
              <input type="submit" name="submit" value="Delete" class="narrow" v-on:click="deleteEntry(entry)"/>
              <div v-if="entry.type == 'text'">
                <input type="submit" name="submit" value="Copy" class="narrow" v-on:click="copyEntry(entry)"/>
              </div>
              <div v-if="entry.type == 'image'">
                <input type="submit" name="submit" value="Open in folder" class="narrow" v-on:click="openInFileManager(entry.content)"/>
              </div>
              <div class="timestamp">{{ entry.timestamp }}</div>
            </div>
          </li>
        </ul>
      </div>
    </main>

    <script type="text/javascript" src="../node_modules/vue/dist/vue.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="build/init.js" charset="utf-8"></script>
    <script type="text/javascript" src="build/config.js" charset="utf-8"></script>
    <script type="text/javascript" src="build/app.js" charset="utf-8"></script>
    <script type="text/javascript" src="build/autolinker.js" charset="utf-8"></script>
    <script type="text/javascript" src="build/windows.js" charset="utf-8"></script>
    <script type="text/javascript" src="build/header.js" charset="utf-8"></script>
  </body>
</html>
