<html>
  <head>
    <meta charset="UTF-8">
    <title>leike</title>
    <link rel="stylesheet" type="text/css" href="build/css/style.css">
    <!--<link rel="stylesheet" href="../node_modules/highlight.js/styles/default.css">
    <script src="../node_modules/highlight.js/lib/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>-->
  </head>
  <body>
    <header>
      <h1>Leike</h1>
      <div id="window-buttons">
       <div class="window-button" id="close" v-on:click="closeWindow()"></div>
       <div class="window-button" id="maximize" v-on:click="maximizeWindow()"></div>
       <div class="window-button" id="minimize" v-on:click="minimizeWindow()"></div>
       <div class="window-button" id="settings" v-on:click="openSettings()"></div>
      </div>
    </header>
    <div id="faq">
      <h2>Hello there!</h2>
      <p>This here is Leike, an open-source clipboard utility by Ville Talonpoika, written in CoffeeScript & SASS, using Electron & Vue.js.</p>
      <p>The app logs all text and images entering the clipboard into memory and saves the images into a <a href="#" onclick="openFilePath()">folder</a>. If an image is deleted from the list, the file is deleted as well.</p>
      <p>The app keeps running in the background and can be closed from the tray icon.</p>
      <p>More info at the <a href="#" onclick="openLinkExternally('http://github.com/Nanofus/leike')">GitHub repository</a>.</p>
      <p>Version: {{packageJson.version}}</p>
    </div>
    <main>
      <input type="submit" name="submit" value="?" id="faq-button" onclick="showFaq()"/>
      <div id="content">
        <ul id="entry-list">
          <li v-for="entry in entries">
            <div v-if="entry.type == 'text'">
              <p class="entry-content">{{ entry.content }}</p>
            </div>
            <div v-if="entry.type == 'image'">
              <div class="entry-content"><img v-bind:src="entry.content" class="transparent-background"></div>
              <input type="submit" name="submit" value="Open in folder" v-on:click="openInFileManager(entry.content)"/>
            </div>
            <input type="submit" name="submit" value="Delete" v-on:click="deleteEntry(entry)"/>
            <div class="timestamp">{{ entry.timestamp }}</div>
          </li>
        </ul>
      </div>
    </main>

    <script type="text/javascript" src="../node_modules/vue/dist/vue.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="build/app.js" charset="utf-8"></script>
    <script type="text/javascript" src="build/ui-scripts.js" charset="utf-8"></script>
  </body>
</html>
