<!DOCTYPE html>
<html ng-app="leike">
    <head>
        <title>leike</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script type="text/javascript" src="app/jquery-loader.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="bower_components/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>

        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="app/controllers/titlebar_controller.js"></script>
        <script type="text/javascript" src="app/controllers/main_controller.js"></script>

        <link rel="stylesheet" type="text/css" href="css/titlebar.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
        <div id="titlebar" ng-controller="TitlebarController"> 
            <div id="window-buttons">
                <div class="window-button" id="close" ng-click="closeWindow()"></div>
                <div class="window-button" id="maximize" ng-click="maximizeWindow()" ng-style="maximizeStyle"></div>
                <div class="window-button" id="minimize" ng-click="minimizeWindow()"></div>
            </div>
        </div>
        <div id="content">
            <div ng-view></div>
        </div>
    </body>
</html>